body {
	background-color: white;
}

#wrapper {
	display: block;
	width: 450px;
	margin: 2px auto;
	padding: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: black;
	border: solid 2px black;
	background-color: white;
}

h1 {
	text-align: center;
}

#footer {
	text-align: center;
}

#footer {
	font-size: 12px;
	color: black;
}

#footer a, #footer a:visited {
	text-decoration: underline;
}

#footer a:hover {
	text-decoration: none;
}

a, a:visited {
	color: black;
	text-decoration: underline;
}

a:hover {
	color: black;
	text-decoration: none;
}

.word_cloud_2 {
	font-size: 24px;
}
.word_cloud_1 {
	font-size: 20px;
}
.word_cloud_0 {
	font-size: 18px;
}

.error {
	font-size: 20px;
	color: red;
}

span.word_cloud_2 span, span.word_cloud_1 span, span.word_cloud_0 span   {
	display:none;
	padding:2px 3px;
	margin-left:8px;
	width:140px;
	font-size: 12px;
}
span.word_cloud_2:hover span, span.word_cloud_1:hover span, span.word_cloud_0:hover span {
	display:inline; 
	position:absolute; 
	background:#ffffff; 
	border:1px solid #cccccc;
	color:#6c6c6c;
}